<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Конфигурация для записи в файл -->
		<target name="file" xsi:type="File" fileName="C:\Temp\TestProject\log.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<!-- Конфигурация для записи в консоль -->
		<target name="console" xsi:type="Console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<!-- Логи уровня Debug и выше записываются в файл -->
		<logger name="*" minlevel="Debug" writeTo="file" />
		<!-- Логи уровня Info и выше выводятся в консоль -->
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
