.Pizza-product-container {
    display: flex;
}

.my-flex-block:hover {
    border: 1px solid #d0d0d0;
}

.Image {
    width: auto;
    height: auto;
    max-width: 100%
}

.Price {
    font-size: larger;
    font-weight: 700;
}
