<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>Задание 1</title></head>
    <body>
    <div class="Pizza-product-container">
        <div class="my-flex-block">
            <img class="Image"  src="https://cagliari.delivery/images/dishes/capriccio_1.jpg" alt="Capricio" />
            <p class="Title">Capricio</p>
            <p class="Composition">Сыр моцарелла, Соус "Барбекю", Соус "Кальяри", Пепперони, Овощи гриль, Бекон, Ветчина</p>
            <p class="Price">660Р</p>
        </div>
        <div class="my-flex-block">
            <img class="Image"src="https://cagliari.delivery/images/dishes/xxxl_1.jpg" alt="XXL" />
            <p class="Title">XXL</p>
            <p class="Composition">Сыр моцарелла, Соус "Барбекю", Соус "Кальяри", Пепперони, Овощи гриль, Бекон, Ветчина</p>
            <p class="Price">780Р</p>
        </div>
        <div class="my-flex-block">
            <img class="Image"  src="https://cagliari.delivery/images/dishes/4_vkusa_1.jpg" alt="4 вкуса" />
            <p class="Title">4 вкуса</p>
            <p class="Composition">Сыр моцарелла, Соус "Барбекю", Соус "Кальяри", Пепперони, Овощи гриль, Бекон, Ветчина</p>
            <p class="Price">630Р</p>
        </div>
        <div class="my-flex-block">
            <img class="Image" src="https://cagliari.delivery/images/dishes/amazonka_1.jpg" alt="Амазонка" />
            <p class="Title">Амазонка</p>
            <p class="Composition">Соус "Томатный", Сыр моцарелла, Куриная грудка, Брокколи, Огурцы маринованные</p>
            <p class="Price">650Р</p>
        </div>

     
    </div>


    </body>
</html>